.collections {
  &__btns-wrapper {
    margin-bottom: 4rem;
  }

  &__content {
    --cols: 1;
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    // grid-auto-rows: 1fr;
    column-gap: 4rem;
    // row-gap: 2.5rem;
    margin-bottom: var(--rds-6);

    @media (width > 35em) {
      --cols: 2;
    }

    @media (width > 60em) {
      --cols: 3;
    }

    @media (width > 85em) {
      --cols: 4;
    }
  }

  &__content-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;

    &--1 {
      @extend .collections__content-col;
    }

    &--2 {
      @extend .collections__content-col;
    }

    &--3 {
      @extend .collections__content-col;
    }

    &--4 {
      @extend .collections__content-col;
    }
  }

  &--1 {
  }

  &__load-btn {
    display: block;
    margin-inline: auto;
  }

  &__no-results {
  }

  &__no-results-text {
    font-size: var(--fs-24);
    font-weight: 700;
  }
}

.search {
  margin-bottom: 3rem;

  &__form {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__input {
    padding: 0.5rem;
    color: var(--color-text);
  }

  &__submit-btn {
    padding: 0.5rem 2rem;
  }
}
