<section class="section collections cont-lg">
  <h1 class="title--primary">{{ title }}</h1>

  <div class="collections__btns-wrapper">
    <button class="type-btn active" (click)="fetchList(fetchListOptions)">
      Όλα
    </button>
    <button
      *ngFor="let type of itemTypes"
      (click)="changeSearchValuesAndRefetch(type)"
      class="type-btn"
    >
      {{ type }}
    </button>
  </div>

  <div class="search">
    <form
      [formGroup]="titleSearchForm"
      class="search__form"
      (ngSubmit)="onTitleSearchSubmit()"
    >
      <input
        type="text"
        class="search__input"
        placeholder="Τίτλος έργου..."
        formControlName="searchValue"
      />
      <button
        type="submit"
        [disabled]="titleSearchForm.invalid"
        class="search__submit-btn btn-outline"
      >
        Αναζήτηση
      </button>
    </form>
  </div>

  <div class="search">
    <form
      [formGroup]="creatorSearchForm"
      class="search__form"
      (ngSubmit)="onSearchSubmit()"
    >
      <input
        type="text"
        class="search__input"
        placeholder="Όνομα καλλιτέχνη..."
        formControlName="searchValue"
      />
      <button
        type="submit"
        [disabled]="creatorSearchForm.invalid"
        class="search__submit-btn btn-outline"
      >
        Αναζήτηση
      </button>
    </form>
  </div>

  <div *ngIf="!noResults" class="collections__content">
    <div class="collections__content-col--1">
      <app-collection-card
        *ngFor="let item of itemSubList1"
        [urlLink]="['/collections', item.uuid]"
        [imgUrl]="item.imageUrl"
        [title]="item.title"
        [creator]="item.creator"
      ></app-collection-card>
    </div>

    <div class="collections__content-col--2">
      <app-collection-card
        *ngFor="let item of itemSubList2"
        [urlLink]="['/collections', item.uuid]"
        [imgUrl]="item.imageUrl"
        [title]="item.title"
        [creator]="item.creator"
      ></app-collection-card>
    </div>
    <div class="collections__content-col--3">
      <app-collection-card
        *ngFor="let item of itemSubList3"
        [urlLink]="['/collections', item.uuid]"
        [imgUrl]="item.imageUrl"
        [title]="item.title"
        [creator]="item.creator"
      ></app-collection-card>
    </div>
    <div class="collections__content-col--4">
      <app-collection-card
        *ngFor="let item of itemSubList4"
        [urlLink]="['/collections', item.uuid]"
        [imgUrl]="item.imageUrl"
        [title]="item.title"
        [creator]="item.creator"
      ></app-collection-card>
    </div>
  </div>

  <div *ngIf="noResults" class="collections__no-results">
    <p class="collections__no-results-text">
      Δεν βρέθηκαν αποτελέσματα για την συγκεκριμένη αναζήτηση
    </p>
  </div>

  <app-pagination
    *ngIf="fetchListOptions.pagination.totalPages > 1"
    [currentPage]="fetchListOptions.pagination.currentPage + 1"
    [totalPages]="fetchListOptions.pagination.totalPages"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</section>
