<div *ngIf="slides.length > 0" class="slider">
  <div
    *ngFor="let item of slides; index as i"
    [ngClass]="{ active: currentIndex === i }"
    class="slider__slide"
  >
    <div class="slider__img-wrapper">
      <img [src]="item.viewUrl" [alt]="item.filename" />
    </div>
  </div>
  <div class="slider__btn-wrapper">
    <button
      *ngIf="slides.length > 1"
      class="slider__btn--prev"
      [ngClass]="{ disabled: currentIndex === 0 }"
      (click)="previousSlide()"
    >
      < Προηγούμενο
    </button>
    <button
      *ngIf="slides.length > 1"
      class="slider__btn--next"
      [ngClass]="{ disabled: currentIndex === slides.length - 1 }"
      (click)="nextSlide()"
    >
      Επόμενο >
    </button>
  </div>
</div>

<div *ngIf="slides.length === 0" class="slider__default-img-wrapper">
  <img src="/assets/images/default-image.jpg" alt="Default image" />
</div>
