<!-- <div class="search">
  <form
    [formGroup]="titleSearchForm"
    class="search__form"
    (ngSubmit)="onTitleSearchSubmit()"
  >
    <input
      type="text"
      class="search__input"
      placeholder="Τίτλος έργου..."
      formControlName="searchValue"
    />
    <button
      type="submit"
      [disabled]="titleSearchForm.invalid"
      class="search__submit-btn btn-outline"
    >
      Αναζήτηση
    </button>
  </form>
</div>

<div class="search">
  <form
    [formGroup]="creatorSearchForm"
    class="search__form"
    (ngSubmit)="onSearchSubmit()"
  >
    <input
      type="text"
      class="search__input"
      placeholder="Όνομα καλλιτέχνη..."
      formControlName="searchValue"
    />
    <button
      type="submit"
      [disabled]="creatorSearchForm.invalid"
      class="search__submit-btn btn-outline"
    >
      Αναζήτηση
    </button>
  </form>
</div> -->
